management:
  metrics:
    enable:
      gateway: true
  endpoints:
    web:
      exposure:
        include: health, prometheus
  endpoint:
    health:
      show-details: always
  prometheus:
    metrics:
      export:
        enabled: true

spring:
  application:
    name: 'gateway'
  main:
    web-application-type: reactive
  webflux:
    base-path: /

  cloud:
    config:
      enabled: false
    gateway:
      default-filters:
        - name: AddResponseHeader
          args:
            name: Strict-Transport-Security
            value: max-age=31536000; includeSubDomains; preload
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: frontend-web
          uri: http://myislab.ru:3000
          predicates:
            - Path=/**

  jackson:
    deserialization:
      fail-on-ignored-properties: false
    serialization:
      indent-output: false
      write-dates-as-timestamps: false
      write-bigdecimal-as-plain: true
    date-format: yyyy-MM-dd'T'HH:mm:ss
    property-naming-strategy: SNAKE_CASE

server:
  port: 49828
  http2:
    enabled: true
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/html,text/plain
    min-response-size: 1024
  ssl:
    enabled: false