spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource

    druid:
      initial-size: 5
      max-active: 20
      min-idle: 5
      max-wait: 30000

      validation-query: "SELECT 1"
      test-on-borrow: false
      test-while-idle: true

      time-between-eviction-runs-millis: 60000
      min-evictable-idle-time-millis: 300000